server {
	listen 80 default;
	access_log <%= node.app.web_dir %>/logs/nginx_access.log;
	error_log <%= node.app.web_dir %>/logs/nginx_error.log;
	keepalive_timeout 10;

	location / {
		uwsgi_pass unix:/tmp/<%= node.app.name %>.sock;
		include uwsgi_params;
	}
}