[uwsgi]
	chdir = <%= node.app.web_dir %>
	base = <%= node.app.web_dir %>
	socket = /tmp/<%= node.app.name %>.sock
	chmod-socket = 666
	module = manage
	callable = app
	processes = 4
	threads = 2
	logger = file:<%= node.app.web_dir %>/logs/flask-uwsgi.log
	home = <%= node.app.web_dir %>/app_env
